body {
  display: flex;
  margin: 0%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.calc-back {
  width: 700px;
  height: 700px;
  border-radius: 25px;
  overflow: hidden;
  background-image: url("./images/Natural\ Image\ 4K.jpeg");
  background-position: center;
  background-size: cover;
  box-shadow:
    0 0 15px white,
    0 0 44px black;
}
@media (max-width: 900px) {
  body {
    background-image: url("./images/indhar.jpg");
    background-position: center;
    background-size: cover;
    padding: 0;
    align-items: end;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .calc-back {
    background: transparent;
    width: 100%;
    height: 80%;
  }
  #buttons button {
    font-size: 30px;
  }
  .calc h1 {
    font-weight: bolder;
    text-shadow: 0 0 30px green;
  }
}
.calc h1 {
  color: white;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 8px;
  text-shadow: 0 0 10px orangered;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.081);
  padding: 0 20px;
}

#screen {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.388);
  border-radius: 25px;
  margin-bottom: 15px;

  color: white;
  font-size: 40px;
  font-family: monospace;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: 0 15px;
  box-sizing: border-box;

  overflow: hidden;
  white-space: nowrap;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

#buttons button {
  height: 100%;
  background: #222222ca;
  color: white;
  border: none;
  font-size: 30px;
  border-radius: 500px;
  cursor: pointer;
}
.clrbtn {
  display: flex;
  grid-column: 1/-1;
  justify-content: end;
}
.clrbtn button {
  width: 23%;
}
